* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*Base oscura (footer y posibles secciones de contraste)*/
    --azul_negro: #0D1B2A;
    --azul_marino: #122F42;

    /*Marca (navbar, CTAs, acentos)*/
    --teal_principal: #1C8B87;
    --teal_claro: #3FA19B;
    --verde_hoja: #6AAC5F;

    /*Fondos claros (body)*/
    --fondo_principal: #FFFFFF;
    --fondo_alt_secciones: #F7FAFA;

    /*Texto*/
    --texto_principal: #0F1F2E;
    --texto_secundario: #5C6E6C;
    --texto_fondo_oscuro: #BED9D6;
    --links_footer: #3FA19B;

    /*Acento cálido (para diferenciar los 3 servicios o CTAs de contacto*/
    --coral: #E8935F;
}

#hero,
#quienes_somos,
#valores,
#servicios,
#Contacto_Formulario {
    padding-left: 18rem;
    padding-right: 18rem;
    /* opcional, si quieres simetría */
}

.navbar {
    background-color: var(--fondo_principal);
    display: flex;
    align-items: center;
    padding: 12px 48px;
}

.navbar img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: auto;
}

.navbar a {
    transition: color 0.3s;
    color: var(--texto_principal);
    text-decoration: none;
    margin-left: 32px;
}

.navbar a:active {
    color: var(--teal_principal);
}

.navbar a:hover {
    color: var(--teal_claro);
}

#hero {
    display: flex;
    align-items: center;
    margin: 25px 45px;
    padding-top: 12px;
    padding-bottom: 12px;
}

#hero h1,
#hero p,
.cta-group {
    padding: 12px 0;
}

.cta-group {
    display: flex;
    gap: 1.5rem;
}

.cta {
    color: var(--teal_principal);
    text-decoration: none;
}

.cta:hover {
    transition: color 0.3s;
    color: var(--teal_claro);
}

#hero img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 24rem;
}